<div class="row">
  <div class="col">
    <app-playlist-list></app-playlist-list>
  </div>

  <div class="col">
    <ng-container *ngIf="mode === 'details'">
      <app-playlist-details></app-playlist-details>
      <button class="btn btn-info" (click)="editMode()">Edit</button>
    </ng-container>

    <ng-container *ngIf="mode === 'edit'">
      <app-playlist-form></app-playlist-form>
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </ng-container>
  </div>
</div>

<!-- <dl>
  <ng-container *ngIf="true">
    <dt>test</dt>
    <dd>val</dd>
  </ng-container>
</dl> -->
