<div class="row">
  <div class="col">

    <app-playlist-list
      [items]="playlists"
      [selectedId]="selected.id"
      (selectedIdChange)="selectPlaylist($event)"
    ></app-playlist-list>

    <!-- <input type="text" (keyup)=" x = $event"> -->
  </div>

  <div class="col" [ngSwitch]="mode">

    <app-playlist-details
      *ngSwitchDefault
      [playlist]="selected"
      (edit)="editMode()"
      ></app-playlist-details>
      
      <app-playlist-form
      *ngSwitchCase="'edit'"
      [playlist]="selected"
      (cancel)="cancel()"
      (submit)="savePlaylist($event)"
    ></app-playlist-form>

  </div>
</div>
