<div class="row">
  <div class="col">
    <app-search-form (search)="search($event)"></app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="alert alert-danger" *ngIf="message">
      {{ message }}
    </p>
    <app-search-results [results]="results"></app-search-results>
  </div>
</div>
