<!-- .list-group>a[href=#].list-group-item.list-group-item-action*3{$. Playlist $$} -->

<div class="list-group">
  <ng-template let-xxx="$implicit" ngFor [ngForOf]="playlists">
    <a href="#" class="list-group-item list-group-item-action">
      1. {{ xxx.name }}
    </a>
  </ng-template>
</div>

<!-- <ng-template ngForOf="rows">
  <ng-template ngForOf="cols"> 
    {{ $implicit }}
  </ng-template>
</ng-template> -->

<!-- for(let playlist of playlists){ } -->
<!-- for(var index in playlists){ } -->
