
<!-- .list-group>a[href=#].list-group-item.list-group-item-action*3{$. Playlist $$} -->
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    1. Playlist 01
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    2. Playlist 02
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    3. Playlist 03
  </a>
</div>

<!-- <ul class="list-group">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">And a fifth one</li>
</ul> -->
