<div class="mb-3">
  <label for="playlist_name" class="form-label">Name:</label>
  <input
    type="text"
    class="form-control"
    name="playlist_name"
    id="playlist_name"
    placeholder="Name"
    
    [value]="playlist.name"
    (input)="playlist.name = $any($event.target).value"
    #nameRef
  />
  
    {{ nameRef.value }}
    {{ nameRef.value.length }} 
 

  <small id="counter" class="form-text text-muted float-end">
    {{ playlist.name.length }} / 100
  </small>
</div>

<div class="form-check mb-3">
  <input
    type="checkbox"
    class="form-check-input"
    name="playlist_public"
    id="playlist_public"
    [checked]="playlist.public"
  />
  <label class="form-check-label" for="playlist_public"> Public </label>
</div>

<div class="mb-3">
  <label for="playlist_description" class="form-label">Description</label>
  <textarea
    class="form-control"
    name="playlist_description"
    id="playlist_description"
    rows="3"
    [value]="playlist.description"
    (input)="playlist.description = $any($event.target).value"
  ></textarea>
</div>

<button class="btn btn-danger">Cancel</button> 
<button class="btn btn-success">Save</button>
