<pre>{{ searchForm.value | json }}</pre>

<form [formGroup]="searchForm" (ngSubmit)="submit()">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      formControlName="query"
    />

    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
  <p (click)="optionsOpen = !optionsOpen" class="float-end">Advanced</p>

  <ng-container *ngIf="searchForm.get('query'); let field">
    <ng-container *ngIf="field.dirty || field.touched">
      <p class="text-danger" *ngIf="field?.hasError('required')">
        Field is required
      </p>

      <p class="text-danger" *ngIf="field?.getError('minlength') as error">
        Field minimum length is {{ error.requiredLength }}
      </p>
    </ng-container>
  </ng-container>

  <div class="form-group mt-3" *ngIf="optionsOpen" formGroupName="options">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      formControlName="type"
    />

    <div class="list-group" formArrayName="markets">
      <div
        class="list-group-item"
        *ngFor="let m of markets.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="input-group">
          <input type="text" class="form-control" formControlName="code" />
          <span
            class="btn close float-end btn-outline-secondary"
            (click)="removeMarket(i)"
            >&times;</span
          >
        </div>
      </div>
      <div class="list-group-item" (click)="addMarket()">Add</div>
    </div>
  </div>
</form>
