
<!-- Emmet Plugin -->
<!-- .container>.row>.col -->

<div class="container">
  <div class="row">
    <div class="col">

      <app-counter class="float-end"></app-counter>
      <h1>Szkolenie {{title}}!</h1>
      
      <router-outlet></router-outlet>

    </div>
  </div>
</div>



