<!-- dl>(dt{Name}+dd{costam})*3 -->

<dl [title]="playlist.name" [attr.data-id]="'playlist_' + playlist.id">
  <!--  -->
  <dt>Name:</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Public:</dt>
  <!-- <dd [style.color]="playlist.public ? 'green' : 'red'">
    {{ playlist.public ? "Yes" : "No" }}
  </dd> -->
  <dd
    [ngStyle]="{
      color: playlist.public ? 'green' : 'red',
      borderBottom: '1px solid ' + playlist.public ? 'green' : 'red'
    }"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd>
  
  <dd
    [class.pl-public]="playlist.public"
    [class.pl-private]="playlist.public === false"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd>

  <!-- <dd>{{ 1 + 2 }}</dd> -->
  <!-- <dd>{{ "Yes " }}</dd> -->
  <!-- Green | Red -->
  <!-- <dd>{{ if(){}else{} }}</dd> -->

  <dt>Description</dt>
  <dd>{{ playlist.description }}</dd>
</dl>
