/* You can add global styles to this file, and also import other style files */

// @import url('../...');

// npm i bootstrap
@import '~bootstrap/dist/css/bootstrap.css';

// $primary: hotpink;

// $enable-rounded:              false;
// $enable-shadows:              true;
// $enable-gradients:            true;

// // scss-docs-start import-stack
// // Configuration
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/utilities";

// // Layout & components
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/grid";

// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/helpers";